body {
  min-height: 100vh;
  background: url("background3.jpg") top left no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.container {
  width: 80%;
  margin: 20px auto;
  background:rgba(252, 247, 179, 1);
  border-radius:20px;
  min-height:200vh;
}
/*the below makes all images round*/
img {
    border-radius: 50%;
}
#logo {
  opacity: 1;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}
.container #topnav {
  margin-top: 40px;
  margin-left: 3.5px;
}
a {
    color: #fcf7b3;
    text-align: center;
    padding: 10px 68.5px;
    text-decoration: none;
    background-color: #F7B5FF;
    font-family: "Muli","Helvetica Neue",sans-serif;
    font-size: 12.25px;
}

h1 {
  margin-left: 10px;
  text-align: left;
  color: #53B7D1;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 32px;
}
p {
  margin-left: 10px;
  text-align: left;
  color: #53B7D1;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 20px;
}
