body {
  min-height: 100vh;
  background: url("background3.jpg") top left no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.container {
  width: 80%;
  margin: 20px auto;
  background:rgba(252, 247, 179, 1);
  border-radius:20px;
  min-height:150vh;
}
/*the below makes all images round*/
img {
    border-radius: 50%;
}
.container #logo {
  opacity: 1;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.container #topnav {
  margin-top: 40px;
  margin-left: 3.5px;
}
a {
    color: #fcf7b3;
    text-align: center;
    padding: 10px 68.5px;
    text-decoration: none;
    background-color: #F7B5FF;
    font-family: "Muli","Helvetica Neue",sans-serif;
    font-size: 12.25px;
}

h1 {
  margin-left: 10px;
  text-align: center;
  color: #53B7D1;
  font-family: "Sacramento";
  font-size: 50px;
}
p {
  margin-left: 10px;
  text-align: left;
  color: #53B7D1;
  font-family: "Lato";
  font-size: 20px;
}
#lemon {
  margin-left: 65px;
  margin-right: 30px;
}
#torte {
  margin-left: 30px;
  margin-right: 30px;
}
#reindeer {
  margin-left: 30px;
  margin-right: 30px;
}
.container #pictures {
  margin-top: 50px;
}
.container #contactform {
    margin: auto;
    border-radius: 5px;
    background-color: #F7B5FF;
    padding: 20px;
    font-family: "Lato";
    color: #fcf7b3;
    font-size: 28px;
    min-height:10vh
}
